#map {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.popup {
  /* background-color: red !important */
}

.popup-image {
  /* max-width: 20rem;
  max-height: 9rem; */
  height: 100%;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.card-title {
  font-size: 41px;
  margin-bottom: 2px;
  font-family: 'Poiret One', cursive
}

.card-items {
  margin: 1px;
}

/* .marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(./public/map_marker.png);
  background-color: rgba(0, 0, 0, 0);
} */
/* ^^ might need to modify or delete later depending on map look ^^ */
