.header-back {
  background-color: white;
  background-size: cover;
  height: 5rem;
}

#title{
  font-family: 'Poiret One', cursive;
  padding-top: 15px;
  padding-left: 10px;
  -webkit-text-stroke: 2px #99C8CD;
  -webkit-text-fill-color: #21ADA8;
  font-weight: 900;
}

/* Body of home page */
.home-search-div {
  margin:24px 35px auto 35px;
}


#main-back {
  background-color: #F9AC8B;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.home-button {
  border: 1px white solid;
  background-color: transparent;
  background:  #99C8CD;
  /* -webkit-text-stroke: .1px  #21ADA8;
  -webkit-text-fill-color:  rgb(247, 254, 255); */
  font-weight: 900;
  outline: none;
  font-family: 'Poiret One', cursive;
  color: white;
}



